@import "@fortawesome/fontawesome-free/css/all.min.css";

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Toaster */
.toaster .base {
  @apply !bg-base-200 !text-base-content !border-base-300 !border;
}
